@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --dark-blue:#00416B;
    --gold:#DA8824;
    --white:#FFFFFF;
    --body-color:#C4C4C4;
    --menu:#101026;
    --hover:#0088d2;
}

body{
    background-color: var(--body-color);
}

.description{
    color: var(--dark-blue);
    font-weight: 500;
}

#main-container{
    width: 100%;
    height: 100vh;
}

.title{
    margin-bottom: 30%;
}

.title2{
    color: var(--dark-blue);
}

.button-details{
    width:300px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--gold);
    color: var(--dark-blue);
}

nav{
    background-color: transparent;
}

.area-2{
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}

.area-2 .image2{
    position: absolute;
    right: 175px;
    top: -96px;
}
.content{
    display: flex;
    justify-content: center;
    padding: 25px;
    gap: 50px;
    margin: auto;
    margin-top: 5%;
}

.content .renove{
    width: 500px;
    text-align: justify;
}

.renove .title-renove{
    color: var(--dark-blue);
    font-weight: 700;
}

.border{
    width: 40px;
    height: 3px;
    background: #DA8824;
    position: absolute;
    top: 20%;
    right: 38%;
}

.renove button{
   padding: 10px;
   text-align: center;
   width: 270px;
   height: 56px;
   border-radius: 25px;
   background-color: var(--gold);
   color: var(--dark-blue);
   border: none;
   font-weight: 900;
   font-size: 20px;
}


.picture{
  width: 100%;
  display: flex;
  justify-content: center;
}

.picture .respiro-mobile{
    display: none;
}

.description2{
    width: 662px;
    text-align: center;
    margin: auto;
    font-weight:900;
}
.description2 .aspas1{
    margin-right: 93%;
}

.description2 .aspas2{
    margin-left: 78%;
}

.area-3{
    width: 100%;
    background-color: var(--dark-blue);
    margin-top: 5%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
}

.area-3 .element{
    position:absolute;
    left: 175px;
    bottom: 80%;
}

.geral-list{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.title-list-1{
    color: var(--white);
    width: 450px;
    font-size: 35px;
    font-weight: bold;
    margin-top: 5%;
}

.title-list-1 .span1{
    border-bottom: 4px solid orange;
}

.title-list-2{
    color: var(--white);
    width: 450px;
    font-size: 35px;
    font-weight: bold;
    margin-top: 5%;
}

.title-list-2 .span2{
    border-bottom: 4px solid orange;
}

.details{
    margin-top: 3%;
    width: 500px;
    color: var(--white);
    padding: 5px;
}

.details .list{
    padding: 10px;
    list-style: none;
}

.details .list::before{
    content: '\2022';
    margin: 0 2px;
    color: #DA8824;
}

.button-details{
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
}


.area-4{
    width: 100%;
    background-image: url('../../img/Banner01.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
}

.area-4 .title-area{
    width: 600px;
    text-align: center;
    margin: auto;
    color: var(--white);
}

.title-area span{
    background-color: var(--dark-blue);
    padding: 5px;
}

.title-area .aspas-title-1{
    margin-right: 90%;
}

.title-area .aspas-title-2{
    margin-left: 90%;
}

.area-5{
    width:100%;
    background-color: var(--dark-blue);
}

.area-5 header{
    padding: 20px;
    color: var(--white);
    text-align: center;
    width:230px;
    height: 295px;
    margin: auto;
    background-image: url('../../img/Elemento.png');
    position: relative;
}

.area-5 header h4{
    margin-top: 60%;
    position: absolute;
    right: -55%;
    width: 300px;
    font-weight: 700;
    font-size: 30px;
    text-align: center
}

.area-5 .content-5{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.content-5 .paragraph{
    width:500px;
    color: var(--white);
    font-weight: 500;
    text-align: justify;
}

.content-5 .paragraph .elementoImg2{
    margin-top: 1.5%;
    left:80%;
    position: absolute;
}

.area-6{
    width: 100%;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

.form-area{
    border: 3px solid darkblue;   
    padding: 20px;
    position: absolute;
    z-index: 20;
    left: 10%;
}

.form-area .enviar{
    margin-left: 75%;
    border: none;
}

form{
    color: var(--dark-blue);
    padding: 10px;
    font-weight: 500;
}

.title-form{
    font-weight: 700;
}


form input{
    background-color: transparent;
    border: 1px solid darkblue;;
    padding: 10px;
}

.text-area{
    margin-top: 5px;
}

.text-area textarea{
   width:450px;
   background-color: transparent;
   padding: 10px;
   margin-top: 5%;
   border: 2px solid darkblue;
}

.contato-2{
    margin-top: 8px;
}

textarea ::placeholder{
    color: var(--dark-blue);
}

form ::placeholder{
    color: var(--dark-blue);
    border:  darkblue;        
}

.information{
    padding: 10px;
    margin-top: 20%;
}

.information h5 ,p{
    color: var(--dark-blue);
    padding: 5px;
}

.contatos{
    padding: 55px;
    height: 500px;
    background-color: var(--gold);
    left:16%;
    position: relative;
}

button{
    background-color:var(--dark-blue);
    color: var(--white);
    padding: 5px;
    width: 100px;
    margin-top: 5%;
}

.area-7{
    width: 100%;
    padding: 10px;
    display: none;
}

.title-mobile{
    font-weight: 700;
    color: var(--dark-blue);
}

.form-contato-area{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-mobile{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 3px solid darkblue;
    width: 300px;
    height: 700px;
}

.form-mobile input{
    margin-top: 10px;
    padding: 10px;
    background-color: transparent;
    color: var(--dark-blue);
    border: 1px solid darkblue;
}

.form-mobile input::placeholder{
    color: var(--dark-blue);
}
.contato-mobile{
    background-color: var(--gold);
    padding: 15px;
}

.form-mobile .text-mobile{
    margin-top: 10px;
    padding: 5px;
    height: 290px;
    width: 220px;
    background-color: transparent;
}

.form-mobile .text-mobile::placeholder{
    color: var(--dark-blue);
}

footer{
    width: 100%;
    padding: 50px;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-footer{
    margin: auto;
    padding: 20px;
}

.footer-information{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
}

.footer-contacts{
    width: 350px;
}

.link-footer{
    width: 350px;
    display: flex;
    flex-direction: column;
}

.link-footer a {
    margin-top: 7px;
    text-decoration:  none;
    color: var(--white);
}

.link-footer a:hover{
    text-decoration: underline;
}

.footer-contacts .address{
    color: var(--white);
    font-weight: 500
}

.border-footer{
    border: 1px solid gold;
    width: 100%;
}



@media(max-width:900px){
    .title{
        margin-top: 30%;
        color: var(--white);
    }
 
   .area-2 .image{
        display: none;
   }

   .content .renove{
    width: 300px;
    text-align: justify;
    }

    .picture .respiro-desktop{
        display: none;
    }

    .picture .respiro-mobile{
        display: block;
    }
    
    
    .description2{
        max-width: 445px;
        text-align: center;
        margin: auto;
    }

    .area-2 .image2{
        left: 53%;
        top:  -18%;
    }

    .area-3{
        width: 100%;
    }
    
    .geral-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .geral-list img{
        width: 300px;
    }

    .element{
        display: none;
    }

    .area-4{
        width: 100%;
    }

    .area-4 .title-area{
        width: 482px;
        text-align: center;
        margin: auto;
        color: var(--white);
    }

    .details{
        color: var(--white);
        margin-top: 10%;
        width: 350px;
        text-align: left;
        font-size: 0.9em;
    }

    .area-5{
        width:100%;
        background-color: var(--dark-blue);
    }

    .area-5 header{
        width:300px;
        height: 295px;
        margin: auto;
        background-image: url('../../img/Elemento.png');
        position: relative;
    }
    
    .area-5 header h4{
        margin-top: 55%;
        position: absolute;
        right: 21px;
        width: 250px;

    }

    .area-5 .content-5{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 10px;
    }

    .content-5 .paragraph{
        width: 300px;
        color: var(--white);
        text-align: center;
    }

    .elementoImg2{
        display: none;
    }
    
    .area-6{
       display: none;
    }

    .area-7{
        display: block;
    }

    .form-area .enviar{
        margin-left:30%;
        padding: 15px;
        width: 200px;
    }

    .contato-1{
        display: flex;
        flex-direction: column;
    }

    .contato-2{
        display: flex;
        flex-direction: column;
    }


    .area-6 .contatos{
        height: 400px;
    }
    
    .footer{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer-information{
        width: 100%;
        display:flex;
        align-items: center;
        flex-direction: column;
    }

    .link-footer{
        display: none;
    }
    
    .footer-contacts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer-contacts .address{
        color: var(--white);
        text-align: center;
    }
    
}