@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

:root{
    --dark-blue:#00416B;
    --gold:#DA8824;
    --white:#FFFFFF;
    --body-color:#C4C4C4;
    --menu:#101026;
    --hover:#0088d2;
}

body{
    background-color: var(--body-color);
}

.description{
    color: var(--dark-blue);
}

#container{
    width: 100%;
    height: 100vh;
}

.title{
    margin-bottom: 30%;
}

.title2{
    color: var(--dark-blue);
}

.button-details{
    width:300px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--gold);
    color: var(--dark-blue);
}

nav{
    width: 100%;
    padding: 10px 20px;
    top: 0px;
    z-index: 999; 
    background-color: transparent;
    position: fixed;
}

.navbar{
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .open-button,.close-button{
    cursor: pointer;
    display: none;
}

.menu{
    padding: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.menu li a{
    text-decoration: none;
    padding: 10px 15px;
    color: var(--white);
}

.menu li a:hover{
    transition: 0.5s;
    color: var(--hover);
}

.area-2{
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}

.area-2 .image2{
    position: absolute;
    right: 175px;
    top: -96px;
}
.content{
    display: flex;
    justify-content: center;
    padding: 25px;
    gap: 50px;
    margin: auto;
}

.content .renove{
    width: 500px;
    text-align: justify;
}

.renove .title-renove{
    color: var(--dark-blue);
}

.border{
    width: 80px;
    border-bottom: 1px solid #DA8824!important;
    margin-bottom: 5px;
    margin-left: 50px;
}

.renove button{
   padding: 10px;
   text-align: center;
   width: 200px;
   border-radius: 25px;
   background-color: var(--gold);
   color: var(--dark-blue);
}


.picture{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.img-background{
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-image: url('./../../img/Imagem_Respiro02.png');
    margin-top: 5%;
    
}

.img-background  .img3{
    margin-left: 50%;
    margin-top: 25%;
}


.description2{
    width: 590px;
    text-align: center;
    margin: auto;
}
.description2 .aspas1{
    margin-right: 90%;
}

.description2 .aspas2{
    margin-left: 90%;
}

.area-3{
    width: 100%;
    background-color: var(--dark-blue);
    margin-top: 5%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
}

.area-3 .element{
    position:absolute;
    left: 175px;
    bottom: 80%;
}

.area-3 .gera-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
}

.area-3 .gera-list .list1{
    padding: 10px;
    text-align: center;
}

.area-3 .gera-list .list2{
    padding: 10px;
    text-align: center;
}


.details{
    color: var(--white);
    margin-top: 5%;
    width: 550px;
    text-align: left;
    font-size: 0.9em;
}

.area-4{
    width: 100%;
    background-image: url('../../img/Banner01.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.area-4 .title-area{
    width: 540px;
    text-align: center;
    margin: auto;
    color: var(--white);
}

.title-area span{
    background-color: var(--dark-blue);
    padding: 5px;
}

.title-area .aspas-title-1{
    margin-right: 90%;
}

.title-area .aspas-title-2{
    margin-left: 90%;
}

.area-5{
    width:100%;
    background-color: var(--dark-blue);
}

.area-5 header{
    padding: 20px;
    color: var(--white);
    text-align: center;
    width:230px;
    height: 295px;
    margin: auto;
    background-image: url('../../img/Elemento.png');
}

.area-5 header h4{
    margin-top: 80%;
}

.area-5 .content-5{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.content-5 .paragraph{
    width: 500px;
    color: var(--white);
}

.content-5 .paragraph .elementoImg2{
    margin-left: 70%;
}

.area-6{
    width: 100%;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.form-area{
    border: 1px solid darkblue;   
    padding: 20px;
}

form{
    color: var(--dark-blue);
    padding: 10px;
}

textarea ::placeholder{
    color: var(--dark-blue);
}

form ::placeholder{
    color: var(--dark-blue);
    border:  darkblue;        
}

.information{
    padding: 10px;
    margin-top: 20%;
}

.information h5 ,p{
    color: var(--dark-blue);
}

.contatos{
    padding: 55px;
    height: 500px;
    background-color: var(--gold);
}

button{
    background-color:var(--dark-blue);
    color: var(--white);
    padding: 5px;
    width: 100px;
    margin-top: 5%;
}

footer{
    width: 100%;
    background-color: var(--dark-blue);
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-informations{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 5%;
}

.footer-contacts{
    width: 300px;
    display: flex;
}

.footer-contacts .address{
    color: var(--white);
}

.links{
    padding: 15px;  
    list-style: none;
    width: 300px;
}

.links .footer-links{
    text-decoration: none;
    color: var(--white);
}


.border-footer{
    border: 1px solid gold;
    width: 100%;
}


@media(max-width:900px){
    .title{
        margin-top: 30%;
        color: var(--white);
    }
   
    .navbar .open-button,.close-button{
        display: block;
        z-index: 999;
    }

    .menu{
        padding: 20%;
    }

    .navbar .menu{
        top:0;
        height: 30vh;
        background-color:var(--dark-blue);
        margin: 0;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        display: none;
    }

    .navbar .menu.show{
        display: flex;
        flex-direction: column;
        margin-top: 3%;
    }

    .navbar .menu li {
        padding: 15px;
    }

    .navbar .menu li a{
        color: var(--white);
    }

    .navbar .menu li a:hover{
        color: var(--hover);
    }

    .open-button.hidden,
    .close-button.hidden{
        display: none;
    }

   .area-2 .image{
        display: none;
   }

   .content .renove{
    width: 300px;
    text-align: justify;
    }

    .picture .img1{
        width: 500px;
    }
    
    .img-background{
        margin-left: 30%;
       
    }
    
    .description2{
        width: 350px;
        text-align: center;
        margin: auto;
    }

    .area-2 .image2{
        left: 53%;
        top:  -18%;
    }

    .area-3{
        width: 100%;
    }
    
    .area-3 .gera-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .element{
        display: none;
    }

    .area-4{
        width: 100%;
    }

    .area-4 .title-area{
        width: 400px;
        text-align: center;
        margin: auto;
        color: var(--white);
    }

    .details{
        color: var(--white);
        margin-top: 10%;
        width: 350px;
        text-align: left;
        font-size: 0.9em;
    }

    .area-5{
        width:100%;
        background-color: var(--dark-blue);
    }

    .area-5 .content-5{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 10px;
    }

    .content-5 .paragraph{
        width: 300px;
        color: var(--white);
        text-align: center;
    }

    .elementoImg2{
        display: none;
    }

    .area-6{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .area-6 .contatos{
        height: 400px;
    }

    .footer{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer-links{
        display: none;
    }
    
    .footer-informations{
        width: 100%;
        display:flex;
        align-items: center;
        flex-direction: column;
    }

    .footer-contacts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-contacts .address{
        color: var(--white);
        text-align: center;
    }
}