@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --dark-blue:#00416B;
    --gold:#DA8824;
    --white:#FFFFFF;
    --body-color:#C4C4C4;
}